#main-title
{
    font-family: 'Vast Shadow', cursive;
    color: #ffffff;
    margin-left: 5px;
    font-size: 35px;
}

#main-title a
{
    text-decoration: none;
    color: #ffffff;
}

#main-title a:visited
{
    color: #ffffff;
}

#nav-bar ul li
{
    display: inline-block;
    list-style: none;
    margin-right: 15px;

}

#nav-bar ul a:link 
{
    text-decoration: none;
}

#nav-bar ul a
{
    color: #ffffff;
    font-weight: bold;
}

#nav-bar a:hover
{
    color: #4a94d9;
}

#the-footer
{
    display: flex;
    justify-content: center;
    background-color: #3f3f3f81;
    padding: 40px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(29,29,29, 100);
}

.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input, label
{
    display: block;
}

.form label
{
    text-align: center;
}

.form button
{
   margin-top: 0.8em;
   margin-bottom: 0.8em;
}

#form-url input
{
    width: 30%;
}

.title-feed
{
    clear: left;
    margin-bottom: 1em;
    margin-left: 5px;
    font-size: 30px;
    color : #9b5606
}

.article-feed
{
    display: flex;
    flex-direction: column;
}

article:nth-child(even)
{
     background-color: #b9b7b7;
}

article:nth-child(odd)
{
     background-color: #dfd9d9;
}