{% extends "base.html" %}

{% block navbar %}
    {% if current_user.is_authenticated %}
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('flow') }}">Flow list</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    {% else %}
    <ul>
        <li> <a href="{{ url_for('home') }}">Home</a> </li>
        <li> <a href="{{ url_for('login') }}">Sign in</a> </li>
        <li> <a href="{{ url_for('register') }}">Register</a> </li>
    </ul>
    {% endif %}
{% endblock %}

{% block main %}

    {% if current_user.is_authenticated %}
        <p>Welcolme {{ current_user.username }}</p>
        <p>Here you can see your RSS/atom flow</p>
        <hr>
        <section>
            {% for key,value in feedRSS.items() %}
                <article>
                    <h2 class="title-feed">{{ value.feed.title }}</h2>    
                </article>
            {% endfor %}

            {% for key,value in feedAtom.items() %}
                <article>
                    <h2 class="title-feed">{{ value.feed.title }}</h2>
                </article>
            {% endfor %}
        </section>


    {% else %}
        <p>Welcome to our flow reader website.</p>
        <p>We advice you to either register or login.</p>
        <p>Hence you'll be able to see all your flow</p>
    {% endif %}

{% endblock %}
